<h1>Music Wall</h1>
<hr/>

<% @musics.each do |music| %>
  <div class="music">
  <h3><a href="/music/<%= music.id %>"><%= music.song_title %></a> <small>(by: <a href="/music/author/<%= music.author %>"><%= music.author %></a>)</small></h3>

  <p>
    <a href="<%= music.url %>"><%= music.url %></a>
  </p>

  </div>
  <hr/>
<% end %>

<a href="/music/new"><button type="button" class="btn btn-primary">ADD MUSIC</button></a>