<h1><%= @song.song_title %></h1>

<p>
  <h4>Artist: <%= @song.author %></h4>
</p>

<p>
  Link: <a href="<%= @song.url %>"><%= @song.url %></a>
</p>

<p>
  <em>Created at: <%= @song.created_at %></em>
</p>

<p>
  Submitted by: <%= @song.user.username %>
</p>


<hr/>

<% unless current_user.has_reviewed_song?(@song) %>

  <h2>Leave a Review</h2>

  <form method="post" action="/review">
  <hr/>
    <div class="dropdown-rating">
      <select name="rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>

    <div class="form-group">
      <label for="exampleInputLike">Did you like this song?</label>
      <input type="text" name="like" class="form-control" id="exampleInputLike" placeholder="like/dislike">
    </div>

    <input type="hidden" name="id" value="<%= @song.id %>"></input>

    <div class="form-group">
      <label for="exampleInputComment">Comment:</label>
      <input type="text" name="comment" class="form-control" id="exampleInputComment"  placeholder="Your Comment">
    </div>

    <hr/>
    <div>
    <button type="submit" class="btn btn-primary">Submit</button>
    </div>

  </form>

<% else %>

  <p>Thanks for your review.</p>

  <a href="/delete"><button type="submit" class="btn btn-danger">Delete my comment</button></a>

<% end %>

</hr>

<h2>Reviews</h2>

<% @song.reviews.each do |review| %>

<p>
  submitted by: <b><%= review.user.username %></b>
</p>

<p>
  rating: <b><%= review.rating.to_i %></b>
</p>

<p>
  Like/Dislike? <b><%= review.like %></b>
</p>

<p>
  Comment: <b><%= review.comment %></b>
</p>

<% end %>

<hr/>
<a href="/music"><button type="button" class="btn btn-primary">Back to Music Wall</button></a>
