<h1><%= @musics.song_title %></h1>

<p>
  <h4>Artist: <%= @musics.author %></h4>
</p>

<p>
  Link: <a href="<%= @musics.url %>"><%= @musics.url %></a>
</p>

<p>
  <em>Created at: <%= @musics.created_at %></em>
</p>

<hr/>
<a href="/music"><button type="button" class="btn btn-primary">Back to Music Wall</button></a>